{% extends 'base.html' %}

{% block title%}
Главная
{%endblock%}

{%block body%}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Добро пожаловать на наш сайт</font></font></h1>
        <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">На нашем сайте вы можете создавать различные статьи на абсолютно разные темы. Благодаря нашему функционалу, вы можете отслеживать время создание статьи, редактировать ее и удалять. Вдохновения вам в написании!)</font></font></p>
    </div>

    <main>
        <div class="row row-cols-1 row-cols-md-2 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вдохновение</font></font></h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Как написать статью?!)</font></font></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Заварите себе кофе</font></font></li>
                  <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Возьмите что-нибудь вкусненькое</font></font></li>
                  <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Включите музыку для настроения</font></font></li>
                  <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">И вуа-ля</font></font></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Локаничность</font></font></h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Краткость сестра таланта</font></font></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Но если вам очень хочется</font></font></li>
                  <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">В вашем рапоряжении</font></font></li>
                  <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">300 символов в Анонсе</font></font></li>
                  <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ну а в блоке Основной текст вы можете написать очень много текста</font></font></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </main>

{% endblock%}